@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem; /* Smaller font size for small screens */
    width : 95%;
    margin-top: 10px;
    padding-bottom: 0px !important;
  }

  .mainc{
    padding-bottom: 10px !important;
  }
}


